<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AutoReservationEntities" connectionString="metadata=res://*/AutoReservationModel.csdl|res://*/AutoReservationModel.ssdl|res://*/AutoReservationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSTMiniProjekt;initial catalog=AutoReservation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>